.blue {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 6%;
    background-color: #044AF0;
  }
  .continer{
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 55%;
    background-color: #52ac52;
  
  }
  .vhod{
    position: absolute;
    top: 10%;
    left: 45%;
    font-size: 90px;
    color: #0051FF;
    font-family: Proxima Nova;
  }
  .input1{
    position: absolute;
    top: 40%;
    width: 50%;
    left: 25%;
    height:5%;
    border-radius: 40px;
    border-color: #0051FF;
  }
  .input2{
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    height:5%;
    border-radius: 40px;
    border-color: #0051FF;
  }
.knopka{
    position: absolute;
    top: 60%;
    color: white;
    font-size: 15px;
    width: 10%;
    height: 4%;
    background-color: red;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}
.blue2{
    position: absolute;
    top: 80%;
    width: 100%;
    height:20%;
    background-color: #044AF0;
}
.reg{
  position: absolute;
  color: #044AF0;
  top: 55%;
  left: 50%;
  text-decoration: none;
}
  .reg a:link {
    color: #044AF0; 
    text-decoration: none; 
  }
  
  .reg a:visited {
    color: #044AF0; 
  }
  
  .reg a:hover {
    color: red; 
  }
.input0{
  position: absolute;
  top: 30%;
  left: 25%;
  width: 50%;
  height:5%;
  border-radius: 40px;
  border-color: #0051FF;
}
.regg{
  position: absolute;
  top: 10%;
  left: 40%;
  font-size: 60px;
  color: #0051FF;
  font-family: Proxima Nova;
}
.knopka1{
  position: absolute;
  top: 60%;
  color: white;
  font-size: 18px;
  width: 12%;
  left: 45%;
  height: 5%;
  background-color: red;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}